body {
    font-family: verdana,sans-serif;
    color : white;
    background-color: lightgrey;
    background: url('/ui/bg.jpg');
    margin-top: 75px;
}
.contain {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 400%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

